
.nav-bar a
{
    text-decoration: none;  
}

.nav-bar li
{
    list-style: none;
    margin:10px 30px;
    display: inline-block;
    
}

.nav-bar ul
{
    display:flex;
    
}

.nav-bar
{
    padding:5px;
    background-color: beige;
    height:60px;
    width:100%;
    margin: 10px;
   
}

.About

{
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(photo.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    /* background-color: rgba(255, 255, 255, 0.25); */
   
}

.text1
{
    margin-left: 300px;
    height:60px;
    font-size: 50px;
    font-weight: bold;
}
.text2
{
    margin-top:20px;
    font-size: 24px;
}

.hamro-blog
{
    margin-right: 30px;
    font-size: 21px;
    color: rgb(226, 43, 43);
    font-weight: bold;
    
}

.Blogs
{
    height:1000px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightblue;

}

.first-blog, .second-blog , .third-blog, .fourth-blog
{

    height: 200px;
    width: 300px;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 15px;
    margin:30px;
    padding:30px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    
}

.first-blog
{
    background-image: url(blog1.jpeg);

}

.first-blog > div, .second-blog > div, .third-blog > div, .fourth-blog > div
{
    display:none;
}

.second-blog
{

    background-image: url(blog2.jpg);
}

.third-blog
{

    background-image: url(blog3.png);
}

.fourth-blog
{

    background-image: url(blog4.png);
}


